.AboutUs {
    display: flex;
    background: var(--md-sys-color-secondary-container);
    border-radius: 16px;
    margin: 8px 8px 0 8px;
    justify-content: center;
    align-items: center;
    min-height: 580px;
    padding: 16px;
    

}

.AboutUs article {
    max-width: 60%;
    font-size: 1.2rem;

}



.AboutUs img {
    width: 200px;
}