.AboutUs {
    display: flex;

    /* background: var(--md-sys-color-secondary-container); */
    border-radius: 16px;
    margin: 8px 8px 0 8px;
    justify-content: center;
    align-items: center;
    min-height: 750px;
    padding: 16px;
    flex-wrap: wrap-reverse;
    

}

.AboutUs article {
    max-width: 50%;
   
    font-size: 1.2rem;
    padding: 3rem;
    text-align: justify;
    color: var(--md-sys-color-on-background);

}



.AboutUs img {
    max-width: 50%;
    object-fit: contain;
    border-radius: 120px;
}