.carousel-container {
  display: flex;
  position: relative;
  height: 550px;
  width: 80%;
  padding: 0 14px 0 16px;
  overflow-x: auto;
  margin: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.carousel-container::-webkit-scrollbar {
  display: none;
}






@media screen and (max-width: 600px) {
  .carousel-container {
    height: 45vh;
    width: 93%;
  }
}
@media screen and (max-width: 840) {
  .carousel-container{
    width: 85%;
  }
}
