.container {
  height: 100%;
  background-color: var(--md-sys-color-surface-container-low);
  color: var(--md-sys-color-on-surface);
  position: sticky;
  top: 0;
  height: 100vh;
  width: 349px;

  margin-left: 100px;

  z-index: 99;
  transition: all 0.3s;
  border-right: 1px solid;
  border-color: var(--md-sys-color-outline);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.itemcontainer {
  padding: 8px;
  height: 60%;
  overflow: scroll;
}
.cartItem {
  display: flex;
  flex-direction: row;
  margin-bottom: 8px;
  padding: 8px;
  background-color: var(--md-sys-color-surface-container-highest);
}
.cartItemImg {
  width: 60px;
  height: 60px;
  border-radius: 20px;
}

.itemDescription {
  display: flex;
  flex-direction: column;
  padding: 8px;
  flex: 1;
  /* justify-content: space-between; */
}
.btncontainer {
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.quant {
  padding: 8px;
}
.total {
  margin-top: auto;
  display: grid;
  grid-template-columns:1fr 1fr;

  padding: 16px;
}
@media screen and (max-width: 1200px) {
  .container {
    position: fixed; 
    z-index: 998;
    margin-left: 0;
    /* height:100vh; */
    /* height: 80%; */

    overflow-y: scroll; 
  }
}
@media screen and (max-width: 840px) {
  .container {
   display: none;
   
  }
}
