.Hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 16px;
    background-color: var(--md-sys-color-primary-container);
    /* height: 600px; */
    margin: 0.5rem;
    padding: 0.5rem;
    /* flex-wrap: wrap-reverse; */
    overflow: scroll;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* min-height: 600px; */
    height: 80%;
}

.Hero::-webkit-scrollbar {
    display: none;
}

.Hero .hero-text {
    display: flex;
    flex-direction: column;
    padding-left: 5rem;
}

.Hero img {
    max-height: 25vi;
    min-height: 250px;
}

.Hero h1 {
    font-family: "Google Sans";
    color: var(--md-sys-color-primary);
    font-size: 5rem;
}

.Hero h2 {
    color: var(--md-sys-color-primary);
    font-size: 3rem;
}

.Hero span {
    font-size: 1.8rem;
}

.logo-bg {
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 100%;
    float: right;
}