.Hero {
  display: flex;
  flex-direction: column;

  align-items: center;
  color: var(--md-sys-color-on-surface);
  margin: 0.5rem;
  padding: 0.5rem;
  transition: 0.2s;
}
.hero-img2{
display: none;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* color: var(--md-sys-color-on-primary-container); */
  /* width: 50%; */
}
.hero-img {
  border-radius: 32px;
  width: 100%;
  height: auto;
}

.Hero h1 {
  font-size: 50px;
  font-weight: 600;
  text-align: center;
}

.Hero h2 {
  font-size: 32px;
}
.Hero span {
  font-size: 20px;
}

.Hero Button {
  margin-top: 1rem;
}
.med-heading{
  display: none;
}
@media screen and (min-width:601px) {
  .hero-img{
    display: none;
  }
  .hero-content{
    align-items: flex-start;

    
  }
  .Hero h1{
    display: none;
    font-size: 74px;
  }
  .Hero .med-heading{
    display: block;
    text-align: center;
    font-size: 74px;
    width: 100%;
  }

  .Hero span{
    font-size: 22px;
  }
  .Hero{
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 24px;
  }
  .hero-img2{
    display: block;
    border-radius: 40px;
    width: 45%;
    object-fit: cover;
    margin-left: auto;
  }
  .hero-content{
    width: 50%;
    justify-content: center;

  }

}
@media screen and (min-width:841px) {
  .Hero h2{
    font-size: 42px;
  }
  .Hero span{
    font-size: 26px;
  }

}
@media screen and (min-width:1000px) {
  .Hero{
    min-height: 100vh;
  }
.Hero .med-heading{
  display: none;
}
.Hero h1{
  display: block;
}
}