
input:-webkit-autofill {
        -webkit-box-shadow: 0 0 0px 1000px var(--md-sys-color-secondary-container) inset;
        -webkit-text-fill-color: var(--md-sys-color-on-secondary-container) ;
    }

input:focus{
    outline: none;
    border: 3px solid var(--md-sys-color-primary);
}

input[type="date"] {
    color: trasparent;
  }
.input-container{
    width: 100%;
}
.big-container{
    width: 100%;
}
@media screen  and (min-width: 600px){
.big-container.Date, .big-container.Time, .big-container.Name {
        width: 49%;
    }

}
.form-error{
    color: var(--md-sys-color-error);
    font-size: 0.8rem;
    margin-bottom: 16px;
    font-weight: 600;

}

