.App nav {
  color: var(--md-sys-color-on-surface);
  display: block;
  height: 100%;
  width: 120px;
  list-style-type: none;
  padding: 2rem 0.5rem;
  background: var(--md-sys-color-surface-container-lowest);
}

.Nav ul {
  list-style-type: none;
}

.Nav li {
  display: flex;
  padding: 0.8rem 0px;
  flex-direction: column;
  border-radius: 16px;
  justify-content: center;
  align-items: center;
  min-width: 48px;
  min-height: 48px;
  transition: 0.3s;
  cursor: pointer;
  user-select: none;
}

.Nav li:hover {
  background-color: var(--md-sys-color-secondary-container);
}
@media screen and (max-width:600px){
  ul{
    display: flex;
    height: auto;
    position: static;
    flex-direction: row;
  }

  li{
    width: fit-content;

  }
  }
