.Nav ul {
  display: flex;
  font-size: 1rem;
  position: fixed;
  bottom: 0px;
  list-style-type: none;
  z-index: 999;
  background-color: var(--md-sys-color-surface-container);
  width: 100vw;
  justify-content: space-evenly;
  align-items: center;
  color: var(--md-sys-color-on-surface);
  box-shadow: 0px -0px 8px var(--md-sys-color-shadow);
  transition: 0.2s;

}

.Nav li {
  border-radius: 16px;
  /* display: flex; */
  

  /* display: flex;
  padding: 0.8rem;
  flex-direction: column;
  margin:8px 0;
  outline: 1px solid red;

  justify-content: center;
  align-items: center;
  min-width: 48px;
  min-height: 48px;
  transition: 0.2s;
  cursor: pointer;
  user-select: none; */

}

.Nav li:hover {
  background-color: var(--md-sys-color-secondary-container);
}

.Nav a:link {
  color: var(--md-sys-color-on-surface);

}

.Nav a:visited {
  color: var(--md-sys-color-on-surface);

}

.Nav a:hover {
  color: var(--md-sys-color-on-surface);


}

.Nav a:active {
  color: var(--md-sys-color-on-surface);


}



@media screen and (min-width:600px) {
  .Nav ul {
    position: relative;
    justify-content: flex-start;
    display: flex;
    height: 100%;
    width: 100px;
    list-style-type: none;
    padding: 16px 0.5rem;
    flex-direction: column;
    box-shadow: none;

  }
  .Nav li:last-child {
    margin-top: auto;
  }


}