nav {
    position: fixed;
    height: 100%;
    min-width: 120px;
    list-style-type: none;
    padding: 2rem 0.5rem;
  }
  nav ul{
    list-style-type: none;
  }
  nav li{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 48px;
    min-height: 48px;
  }