.TopNav{
    display: flex;
    position: sticky;
    width: 90%;
    top: 1rem;
    /* justify-content: center; */
    align-items: center;
    /* width: fit-content; */
    margin: 1.5rem auto;
    border-radius: 100vh;
    background: var(--md-sys-color-secondary-container);
    box-shadow: 0px 2px 4px var(--md-sys-color-shadow);

    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    
    z-index: 99;
 
}

.navbtn{
    display: flex;
    overflow-x: scroll;
    justify-content: center;
    align-items: center;
    color: var(--md-sys-color-on-secondary-container);
    text-decoration: none;
    border-radius: 100px;
    transition: all 0.2s;
}
.navbtn:hover{
    background-color: var(--md-sys-color-primary);
    color: var(--md-sys-color-on-primary);
}
::-webkit-scrollbar {
    display: none;
}
@media screen and (max-width:600px) {
    .navbtn{
        min-height: 90px;
    }
    
}

