.TopNav{
    display: flex;
    position: sticky;
    /* width: 100%; */
    top: 8px;
    justify-content: center;
    /* align-items: center; */
    /* width: fit-content; */
    margin: 8px;
    border-radius: 999px;
    background: var(--md-sys-color-surface-container-highest);
    box-shadow: 0px 2px 4px var(--md-sys-color-shadow);

    /* -ms-overflow-style: none; */
    /* IE and Edge */
    /* scrollbar-width: none; */
    
    z-index: 99;
    overflow: scroll;
 
}

.navbtn{
    display: flex;
    /* overflow-x: scroll; */
    justify-content: center;
    align-items: center;
    color: var(--md-sys-color-on-secondary-container);
    text-decoration: none;
    border-radius: 999px;
    transition: all 0.2s;
}
.navbtn:hover{
    background-color: var(--md-sys-color-secondary-container);
    color: var(--md-sys-color-on-secondary-container);
}
::-webkit-scrollbar {
    display: none;
}
@media screen and (max-width:600px) {
    .navbtn{
        min-height: 90px;
    }
    
}

