@font-face {
  font-family: Google Sans;
  src: url("./assets/fonts/GoogleSans-Medium.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  /* outline: 1px solid #2d4e37; */
}

body {
  font-family: -apple-system, BlinkMacSystemFont,'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.dark{
  --md-sys-color-primary: var(--md-sys-color-primary-dark);
  --md-sys-color-on-primary: var(--md-sys-color-on-primary-dark);
  --md-sys-color-primary-container: var(--md-sys-color-primary-container-dark);
  --md-sys-color-on-primary-container: var(--md-sys-color-on-primary-container-dark);
  --md-sys-color-primary-fixed: var(--md-sys-color-primary-fixed-dark);
  --md-sys-color-on-primary-fixed: var(--md-sys-color-on-primary-fixed-dark);
  --md-sys-color-primary-fixed-dim: var(--md-sys-color-primary-fixed-dim-dark);
  --md-sys-color-on-primary-fixed-variant: var(--md-sys-color-on-primary-fixed-variant-dark);
  --md-sys-color-secondary: var(--md-sys-color-secondary-dark);
  --md-sys-color-on-secondary: var(--md-sys-color-on-secondary-dark);
  --md-sys-color-secondary-container: var(--md-sys-color-secondary-container-dark);
  --md-sys-color-on-secondary-container: var(--md-sys-color-on-secondary-container-dark);
  --md-sys-color-secondary-fixed: var(--md-sys-color-secondary-fixed-dark);
  --md-sys-color-on-secondary-fixed: var(--md-sys-color-on-secondary-fixed-dark);
  --md-sys-color-secondary-fixed-dim: var(--md-sys-color-secondary-fixed-dim-dark);
  --md-sys-color-on-secondary-fixed-variant: var(--md-sys-color-on-secondary-fixed-variant-dark);
  --md-sys-color-tertiary: var(--md-sys-color-tertiary-dark);
  --md-sys-color-on-tertiary: var(--md-sys-color-on-tertiary-dark);
  --md-sys-color-tertiary-container: var(--md-sys-color-tertiary-container-dark);
  --md-sys-color-on-tertiary-container: var(--md-sys-color-on-tertiary-container-dark);
  --md-sys-color-tertiary-fixed: var(--md-sys-color-tertiary-fixed-dark);
  --md-sys-color-on-tertiary-fixed: var(--md-sys-color-on-tertiary-fixed-dark);
  --md-sys-color-tertiary-fixed-dim: var(--md-sys-color-tertiary-fixed-dim-dark);
  --md-sys-color-on-tertiary-fixed-variant: var(--md-sys-color-on-tertiary-fixed-variant-dark);
  --md-sys-color-error: var(--md-sys-color-error-dark);
  --md-sys-color-error-container: var(--md-sys-color-error-container-dark);
  --md-sys-color-on-error: var(--md-sys-color-on-error-dark);
  --md-sys-color-on-error-container: var(--md-sys-color-on-error-container-dark);
  --md-sys-color-background: var(--md-sys-color-background-dark);
  --md-sys-color-on-background: var(--md-sys-color-on-background-dark);
  --md-sys-color-outline: var(--md-sys-color-outline-dark);
  --md-sys-color-inverse-on-surface: var(--md-sys-color-inverse-on-surface-dark);
  --md-sys-color-inverse-surface: var(--md-sys-color-inverse-surface-dark);
  --md-sys-color-inverse-primary: var(--md-sys-color-inverse-primary-dark);
  --md-sys-color-shadow: var(--md-sys-color-shadow-dark);
  --md-sys-color-surface-tint: var(--md-sys-color-surface-tint-dark);
  --md-sys-color-outline-variant: var(--md-sys-color-outline-variant-dark);
  --md-sys-color-scrim: var(--md-sys-color-scrim-dark);
  --md-sys-color-surface: var(--md-sys-color-surface-dark);
  --md-sys-color-on-surface: var(--md-sys-color-on-surface-dark);
  --md-sys-color-surface-variant: var(--md-sys-color-surface-variant-dark);
  --md-sys-color-on-surface-variant: var(--md-sys-color-on-surface-variant-dark);
  --md-sys-color-surface-container-highest: var(--md-sys-color-surface-container-highest-dark);
  --md-sys-color-surface-container-high: var(--md-sys-color-surface-container-high-dark);
  --md-sys-color-surface-container: var(--md-sys-color-surface-container-dark);
  --md-sys-color-surface-container-low: var(--md-sys-color-surface-container-low-dark);
  --md-sys-color-surface-container-lowest: var(--md-sys-color-surface-container-lowest-dark);
  --md-sys-color-surface-dim: var(--md-sys-color-surface-dim-dark);
  --md-sys-color-surface-bright: var(--md-sys-color-surface-bright-dark);
 }
 .light{
     --md-sys-color-primary: var(--md-sys-color-primary-light);
  --md-sys-color-on-primary: var(--md-sys-color-on-primary-light);
  --md-sys-color-primary-container: var(--md-sys-color-primary-container-light);
  --md-sys-color-on-primary-container: var(--md-sys-color-on-primary-container-light);
  --md-sys-color-primary-fixed: var(--md-sys-color-primary-fixed-light);
  --md-sys-color-on-primary-fixed: var(--md-sys-color-on-primary-fixed-light);
  --md-sys-color-primary-fixed-dim: var(--md-sys-color-primary-fixed-dim-light);
  --md-sys-color-on-primary-fixed-variant: var(--md-sys-color-on-primary-fixed-variant-light);
  --md-sys-color-secondary: var(--md-sys-color-secondary-light);
  --md-sys-color-on-secondary: var(--md-sys-color-on-secondary-light);
  --md-sys-color-secondary-container: var(--md-sys-color-secondary-container-light);
  --md-sys-color-on-secondary-container: var(--md-sys-color-on-secondary-container-light);
  --md-sys-color-secondary-fixed: var(--md-sys-color-secondary-fixed-light);
  --md-sys-color-on-secondary-fixed: var(--md-sys-color-on-secondary-fixed-light);
  --md-sys-color-secondary-fixed-dim: var(--md-sys-color-secondary-fixed-dim-light);
  --md-sys-color-on-secondary-fixed-variant: var(--md-sys-color-on-secondary-fixed-variant-light);
  --md-sys-color-tertiary: var(--md-sys-color-tertiary-light);
  --md-sys-color-on-tertiary: var(--md-sys-color-on-tertiary-light);
  --md-sys-color-tertiary-container: var(--md-sys-color-tertiary-container-light);
  --md-sys-color-on-tertiary-container: var(--md-sys-color-on-tertiary-container-light);
  --md-sys-color-tertiary-fixed: var(--md-sys-color-tertiary-fixed-light);
  --md-sys-color-on-tertiary-fixed: var(--md-sys-color-on-tertiary-fixed-light);
  --md-sys-color-tertiary-fixed-dim: var(--md-sys-color-tertiary-fixed-dim-light);
  --md-sys-color-on-tertiary-fixed-variant: var(--md-sys-color-on-tertiary-fixed-variant-light);
  --md-sys-color-error: var(--md-sys-color-error-light);
  --md-sys-color-error-container: var(--md-sys-color-error-container-light);
  --md-sys-color-on-error: var(--md-sys-color-on-error-light);
  --md-sys-color-on-error-container: var(--md-sys-color-on-error-container-light);
  --md-sys-color-background: var(--md-sys-color-background-light);
  --md-sys-color-on-background: var(--md-sys-color-on-background-light);
  --md-sys-color-outline: var(--md-sys-color-outline-light);
  --md-sys-color-inverse-on-surface: var(--md-sys-color-inverse-on-surface-light);
  --md-sys-color-inverse-surface: var(--md-sys-color-inverse-surface-light);
  --md-sys-color-inverse-primary: var(--md-sys-color-inverse-primary-light);
  --md-sys-color-shadow: var(--md-sys-color-shadow-light);
  --md-sys-color-surface-tint: var(--md-sys-color-surface-tint-light);
  --md-sys-color-outline-variant: var(--md-sys-color-outline-variant-light);
  --md-sys-color-scrim: var(--md-sys-color-scrim-light);
  --md-sys-color-surface: var(--md-sys-color-surface-light);
  --md-sys-color-on-surface: var(--md-sys-color-on-surface-light);
  --md-sys-color-surface-variant: var(--md-sys-color-surface-variant-light);
  --md-sys-color-on-surface-variant: var(--md-sys-color-on-surface-variant-light);
  --md-sys-color-surface-container-highest: var(--md-sys-color-surface-container-highest-light);
  --md-sys-color-surface-container-high: var(--md-sys-color-surface-container-high-light);
  --md-sys-color-surface-container: var(--md-sys-color-surface-container-light);
  --md-sys-color-surface-container-low: var(--md-sys-color-surface-container-low-light);
  --md-sys-color-surface-container-lowest: var(--md-sys-color-surface-container-lowest-light);
  --md-sys-color-surface-dim: var(--md-sys-color-surface-dim-light);
  --md-sys-color-surface-bright: var(--md-sys-color-surface-bright-light);
 }

:root {
  --md-source: #f4ce14;
  /* primary */
  --md-ref-palette-primary0: #000000;
  --md-ref-palette-primary4: #130e00;
  --md-ref-palette-primary5: #161000;
  --md-ref-palette-primary6: #191300;
  --md-ref-palette-primary10: #221b00;
  --md-ref-palette-primary12: #271f00;
  --md-ref-palette-primary17: #332900;
  --md-ref-palette-primary20: #3a3000;
  --md-ref-palette-primary22: #3f3400;
  --md-ref-palette-primary24: #453800;
  --md-ref-palette-primary25: #473a00;
  --md-ref-palette-primary30: #544600;
  --md-ref-palette-primary35: #625100;
  --md-ref-palette-primary40: #705d00;
  --md-ref-palette-primary50: #8c7500;
  --md-ref-palette-primary60: #aa8f00;
  --md-ref-palette-primary70: #c9a900;
  --md-ref-palette-primary80: #e9c400;
  --md-ref-palette-primary87: #fed723;
  --md-ref-palette-primary90: #ffe16e;
  --md-ref-palette-primary92: #ffe793;
  --md-ref-palette-primary94: #ffedb3;
  --md-ref-palette-primary95: #fff0c3;
  --md-ref-palette-primary96: #fff3d2;
  --md-ref-palette-primary98: #fff9ef;
  --md-ref-palette-primary99: #fffbff;
  --md-ref-palette-primary100: #ffffff;
  /* secondary */
  --md-ref-palette-secondary0: #000000;
  --md-ref-palette-secondary4: #130e00;
  --md-ref-palette-secondary5: #161000;
  --md-ref-palette-secondary6: #181301;
  --md-ref-palette-secondary10: #211b04;
  --md-ref-palette-secondary12: #251f07;
  --md-ref-palette-secondary17: #302a10;
  --md-ref-palette-secondary20: #373016;
  --md-ref-palette-secondary22: #3c341a;
  --md-ref-palette-secondary24: #40391e;
  --md-ref-palette-secondary25: #433b20;
  --md-ref-palette-secondary30: #4e462a;
  --md-ref-palette-secondary35: #5a5235;
  --md-ref-palette-secondary40: #675e40;
  --md-ref-palette-secondary50: #807757;
  --md-ref-palette-secondary60: #9b906f;
  --md-ref-palette-secondary70: #b6ab87;
  --md-ref-palette-secondary80: #d2c6a1;
  --md-ref-palette-secondary87: #e6d9b4;
  --md-ref-palette-secondary90: #efe2bc;
  --md-ref-palette-secondary92: #f5e8c1;
  --md-ref-palette-secondary94: #fbedc6;
  --md-ref-palette-secondary95: #fdf0c9;
  --md-ref-palette-secondary96: #fff3d2;
  --md-ref-palette-secondary98: #fff9ef;
  --md-ref-palette-secondary99: #fffbff;
  --md-ref-palette-secondary100: #ffffff;
  /* tertiary */
  --md-ref-palette-tertiary0: #000000;
  --md-ref-palette-tertiary4: #001206;
  --md-ref-palette-tertiary5: #001507;
  --md-ref-palette-tertiary6: #001809;
  --md-ref-palette-tertiary10: #00210e;
  --md-ref-palette-tertiary12: #032512;
  --md-ref-palette-tertiary17: #0e301c;
  --md-ref-palette-tertiary20: #163722;
  --md-ref-palette-tertiary22: #1a3b26;
  --md-ref-palette-tertiary24: #1f402a;
  --md-ref-palette-tertiary25: #21422c;
  --md-ref-palette-tertiary30: #2d4e37;
  --md-ref-palette-tertiary35: #385a42;
  --md-ref-palette-tertiary40: #44664d;
  --md-ref-palette-tertiary50: #5c7f65;
  --md-ref-palette-tertiary60: #75997e;
  --md-ref-palette-tertiary70: #8fb497;
  --md-ref-palette-tertiary80: #aad0b2;
  --md-ref-palette-tertiary87: #bde3c5;
  --md-ref-palette-tertiary90: #c6eccd;
  --md-ref-palette-tertiary92: #cbf2d2;
  --md-ref-palette-tertiary94: #d1f7d8;
  --md-ref-palette-tertiary95: #d4fadb;
  --md-ref-palette-tertiary96: #d6fddd;
  --md-ref-palette-tertiary98: #e9ffeb;
  --md-ref-palette-tertiary99: #f5fff3;
  --md-ref-palette-tertiary100: #ffffff;
  /* neutral */
  --md-ref-palette-neutral0: #000000;
  --md-ref-palette-neutral4: #100e09;
  --md-ref-palette-neutral5: #12110c;
  --md-ref-palette-neutral6: #15130e;
  --md-ref-palette-neutral10: #1d1b16;
  --md-ref-palette-neutral12: #211f1a;
  --md-ref-palette-neutral17: #2c2a24;
  --md-ref-palette-neutral20: #33302a;
  --md-ref-palette-neutral22: #37352e;
  --md-ref-palette-neutral24: #3c3933;
  --md-ref-palette-neutral25: #3e3b35;
  --md-ref-palette-neutral30: #494640;
  --md-ref-palette-neutral35: #55524b;
  --md-ref-palette-neutral40: #615e57;
  --md-ref-palette-neutral50: #7a776f;
  --md-ref-palette-neutral60: #959088;
  --md-ref-palette-neutral70: #afaba2;
  --md-ref-palette-neutral80: #cbc6bd;
  --md-ref-palette-neutral87: #dfd9d0;
  --md-ref-palette-neutral90: #e8e2d9;
  --md-ref-palette-neutral92: #ede7de;
  --md-ref-palette-neutral94: #f3ede4;
  --md-ref-palette-neutral95: #f6f0e7;
  --md-ref-palette-neutral96: #f9f3ea;
  --md-ref-palette-neutral98: #fff9ef;
  --md-ref-palette-neutral99: #fffbff;
  --md-ref-palette-neutral100: #ffffff;
  /* neutral-variant */
  --md-ref-palette-neutral-variant0: #000000;
  --md-ref-palette-neutral-variant4: #110e05;
  --md-ref-palette-neutral-variant5: #141107;
  --md-ref-palette-neutral-variant6: #161309;
  --md-ref-palette-neutral-variant10: #1f1b10;
  --md-ref-palette-neutral-variant12: #231f14;
  --md-ref-palette-neutral-variant17: #2e2a1e;
  --md-ref-palette-neutral-variant20: #343024;
  --md-ref-palette-neutral-variant22: #393528;
  --md-ref-palette-neutral-variant24: #3d392c;
  --md-ref-palette-neutral-variant25: #3f3b2e;
  --md-ref-palette-neutral-variant30: #4b4739;
  --md-ref-palette-neutral-variant35: #575244;
  --md-ref-palette-neutral-variant40: #635e50;
  --md-ref-palette-neutral-variant50: #7c7767;
  --md-ref-palette-neutral-variant60: #979080;
  --md-ref-palette-neutral-variant70: #b2ab9a;
  --md-ref-palette-neutral-variant80: #cdc6b4;
  --md-ref-palette-neutral-variant87: #e1d9c7;
  --md-ref-palette-neutral-variant90: #eae2cf;
  --md-ref-palette-neutral-variant92: #f0e7d5;
  --md-ref-palette-neutral-variant94: #f6edda;
  --md-ref-palette-neutral-variant95: #f9f0dd;
  --md-ref-palette-neutral-variant96: #fbf3e0;
  --md-ref-palette-neutral-variant98: #fff9ef;
  --md-ref-palette-neutral-variant99: #fffbff;
  --md-ref-palette-neutral-variant100: #ffffff;
  /* error */
  --md-ref-palette-error0: #000000;
  --md-ref-palette-error4: #280001;
  --md-ref-palette-error5: #2d0001;
  --md-ref-palette-error6: #310001;
  --md-ref-palette-error10: #410002;
  --md-ref-palette-error12: #490002;
  --md-ref-palette-error17: #5c0004;
  --md-ref-palette-error20: #690005;
  --md-ref-palette-error22: #710005;
  --md-ref-palette-error24: #790006;
  --md-ref-palette-error25: #7e0007;
  --md-ref-palette-error30: #93000a;
  --md-ref-palette-error35: #a80710;
  --md-ref-palette-error40: #ba1a1a;
  --md-ref-palette-error50: #de3730;
  --md-ref-palette-error60: #ff5449;
  --md-ref-palette-error70: #ff897d;
  --md-ref-palette-error80: #ffb4ab;
  --md-ref-palette-error87: #ffcfc9;
  --md-ref-palette-error90: #ffdad6;
  --md-ref-palette-error92: #ffe2de;
  --md-ref-palette-error94: #ffe9e6;
  --md-ref-palette-error95: #ffedea;
  --md-ref-palette-error96: #fff0ee;
  --md-ref-palette-error98: #fff8f7;
  --md-ref-palette-error99: #fffbff;
  --md-ref-palette-error100: #ffffff;
  /* light */
  --md-sys-color-primary-light: #705d00;
  --md-sys-color-on-primary-light: #ffffff;
  --md-sys-color-primary-container-light: #ffe16e;
  --md-sys-color-on-primary-container-light: #221b00;
  --md-sys-color-primary-fixed-light: #ffe16e;
  --md-sys-color-on-primary-fixed-light: #221b00;
  --md-sys-color-primary-fixed-dim-light: #e9c400;
  --md-sys-color-on-primary-fixed-variant-light: #544600;
  --md-sys-color-secondary-light: #675e40;
  --md-sys-color-on-secondary-light: #ffffff;
  --md-sys-color-secondary-container-light: #efe2bc;
  --md-sys-color-on-secondary-container-light: #211b04;
  --md-sys-color-secondary-fixed-light: #efe2bc;
  --md-sys-color-on-secondary-fixed-light: #211b04;
  --md-sys-color-secondary-fixed-dim-light: #d2c6a1;
  --md-sys-color-on-secondary-fixed-variant-light: #4e462a;
  --md-sys-color-tertiary-light: #44664d;
  --md-sys-color-on-tertiary-light: #ffffff;
  --md-sys-color-tertiary-container-light: #c6eccd;
  --md-sys-color-on-tertiary-container-light: #00210e;
  --md-sys-color-tertiary-fixed-light: #c6eccd;
  --md-sys-color-on-tertiary-fixed-light: #00210e;
  --md-sys-color-tertiary-fixed-dim-light: #aad0b2;
  --md-sys-color-on-tertiary-fixed-variant-light: #2d4e37;
  --md-sys-color-error-light: #ba1a1a;
  --md-sys-color-error-container-light: #ffdad6;
  --md-sys-color-on-error-light: #ffffff;
  --md-sys-color-on-error-container-light: #410002;
  --md-sys-color-background-light: #fffbff;
  --md-sys-color-on-background-light: #1d1b16;
  --md-sys-color-outline-light: #7c7767;
  --md-sys-color-inverse-on-surface-light: #f6f0e7;
  --md-sys-color-inverse-surface-light: #33302a;
  --md-sys-color-inverse-primary-light: #e9c400;
  --md-sys-color-shadow-light: #000000;
  --md-sys-color-surface-tint-light: #705d00;
  --md-sys-color-outline-variant-light: #cdc6b4;
  --md-sys-color-scrim-light: #000000;
  --md-sys-color-surface-light: #fff9ef;
  --md-sys-color-on-surface-light: #1d1b16;
  --md-sys-color-surface-variant-light: #eae2cf;
  --md-sys-color-on-surface-variant-light: #4b4739;
  --md-sys-color-surface-container-highest-light: #e8e2d9;
  --md-sys-color-surface-container-high-light: #ede7de;
  --md-sys-color-surface-container-light: #f3ede4;
  --md-sys-color-surface-container-low-light: #f9f3ea;
  --md-sys-color-surface-container-lowest-light: #ffffff;
  --md-sys-color-surface-dim-light: #dfd9d0;
  --md-sys-color-surface-bright-light: #fff9ef;
  /* dark */
  --md-sys-color-primary-dark: #e9c400;
  --md-sys-color-on-primary-dark: #3a3000;
  --md-sys-color-primary-container-dark: #544600;
  --md-sys-color-on-primary-container-dark: #ffe16e;
  --md-sys-color-primary-fixed-dark: #ffe16e;
  --md-sys-color-on-primary-fixed-dark: #221b00;
  --md-sys-color-primary-fixed-dim-dark: #e9c400;
  --md-sys-color-on-primary-fixed-variant-dark: #544600;
  --md-sys-color-secondary-dark: #d2c6a1;
  --md-sys-color-on-secondary-dark: #373016;
  --md-sys-color-secondary-container-dark: #4e462a;
  --md-sys-color-on-secondary-container-dark: #efe2bc;
  --md-sys-color-secondary-fixed-dark: #efe2bc;
  --md-sys-color-on-secondary-fixed-dark: #211b04;
  --md-sys-color-secondary-fixed-dim-dark: #d2c6a1;
  --md-sys-color-on-secondary-fixed-variant-dark: #4e462a;
  --md-sys-color-tertiary-dark: #aad0b2;
  --md-sys-color-on-tertiary-dark: #163722;
  --md-sys-color-tertiary-container-dark: #2d4e37;
  --md-sys-color-on-tertiary-container-dark: #c6eccd;
  --md-sys-color-tertiary-fixed-dark: #c6eccd;
  --md-sys-color-on-tertiary-fixed-dark: #00210e;
  --md-sys-color-tertiary-fixed-dim-dark: #aad0b2;
  --md-sys-color-on-tertiary-fixed-variant-dark: #2d4e37;
  --md-sys-color-error-dark: #ffb4ab;
  --md-sys-color-error-container-dark: #93000a;
  --md-sys-color-on-error-dark: #690005;
  --md-sys-color-on-error-container-dark: #ffdad6;
  --md-sys-color-background-dark: #1d1b16;
  --md-sys-color-on-background-dark: #e8e2d9;
  --md-sys-color-outline-dark: #979080;
  --md-sys-color-inverse-on-surface-dark: #1d1b16;
  --md-sys-color-inverse-surface-dark: #e8e2d9;
  --md-sys-color-inverse-primary-dark: #705d00;
  --md-sys-color-shadow-dark: #000000;
  --md-sys-color-surface-tint-dark: #e9c400;
  --md-sys-color-outline-variant-dark: #4b4739;
  --md-sys-color-scrim-dark: #000000;
  --md-sys-color-surface-dark: #15130e;
  --md-sys-color-on-surface-dark: #cbc6bd;
  --md-sys-color-surface-variant-dark: #4b4739;
  --md-sys-color-on-surface-variant-dark: #cdc6b4;
  --md-sys-color-surface-container-highest-dark: #37352e;
  --md-sys-color-surface-container-high-dark: #2c2a24;
  --md-sys-color-surface-container-dark: #211f1a;
  --md-sys-color-surface-container-low-dark: #1d1b16;
  --md-sys-color-surface-container-lowest-dark: #100e09;
  --md-sys-color-surface-dim-dark: #15130e;
  --md-sys-color-surface-bright-dark: #3c3933;
  /* display - large */
  --md-sys-typescale-display-large-font-family-name: "Google Sans";
  --md-sys-typescale-display-large-font-family-style: Regular;
  --md-sys-typescale-display-large-font-weight: 400px;
  --md-sys-typescale-display-large-font-size: 57px;
  --md-sys-typescale-display-large-line-height: 64px;
  --md-sys-typescale-display-large-letter-spacing: -0.25px;
  /* display - medium */
  --md-sys-typescale-display-medium-font-family-name: "Google Sans";
  --md-sys-typescale-display-medium-font-family-style: Regular;
  --md-sys-typescale-display-medium-font-weight: 400px;
  --md-sys-typescale-display-medium-font-size: 45px;
  --md-sys-typescale-display-medium-line-height: 52px;
  --md-sys-typescale-display-medium-letter-spacing: 0px;
  /* display - small */
  --md-sys-typescale-display-small-font-family-name: "Google Sans";
  --md-sys-typescale-display-small-font-family-style: Regular;
  --md-sys-typescale-display-small-font-weight: 400px;
  --md-sys-typescale-display-small-font-size: 36px;
  --md-sys-typescale-display-small-line-height: 44px;
  --md-sys-typescale-display-small-letter-spacing: 0px;
  /* headline - large */
  --md-sys-typescale-headline-large-font-family-name: "Google Sans";
  --md-sys-typescale-headline-large-font-family-style: Regular;
  --md-sys-typescale-headline-large-font-weight: 400px;
  --md-sys-typescale-headline-large-font-size: 32px;
  --md-sys-typescale-headline-large-line-height: 40px;
  --md-sys-typescale-headline-large-letter-spacing: 0px;
  /* headline - medium */
  --md-sys-typescale-headline-medium-font-family-name: "Google Sans";
  --md-sys-typescale-headline-medium-font-family-style: Regular;
  --md-sys-typescale-headline-medium-font-weight: 400px;
  --md-sys-typescale-headline-medium-font-size: 28px;
  --md-sys-typescale-headline-medium-line-height: 36px;
  --md-sys-typescale-headline-medium-letter-spacing: 0px;
  /* headline - small */
  --md-sys-typescale-headline-small-font-family-name: "Google Sans";
  --md-sys-typescale-headline-small-font-family-style: Regular;
  --md-sys-typescale-headline-small-font-weight: 400px;
  --md-sys-typescale-headline-small-font-size: 24px;
  --md-sys-typescale-headline-small-line-height: 32px;
  --md-sys-typescale-headline-small-letter-spacing: 0px;
  /* body - large */
  --md-sys-typescale-body-large-font-family-name: "Google Sans";
  --md-sys-typescale-body-large-font-family-style: Regular;
  --md-sys-typescale-body-large-font-weight: 400px;
  --md-sys-typescale-body-large-font-size: 16px;
  --md-sys-typescale-body-large-line-height: 24px;
  --md-sys-typescale-body-large-letter-spacing: 0.50px;
  /* body - medium */
  --md-sys-typescale-body-medium-font-family-name: "Google Sans";
  --md-sys-typescale-body-medium-font-family-style: Regular;
  --md-sys-typescale-body-medium-font-weight: 400px;
  --md-sys-typescale-body-medium-font-size: 14px;
  --md-sys-typescale-body-medium-line-height: 20px;
  --md-sys-typescale-body-medium-letter-spacing: 0.25px;
  /* body - small */
  --md-sys-typescale-body-small-font-family-name: "Google Sans";
  --md-sys-typescale-body-small-font-family-style: Regular;
  --md-sys-typescale-body-small-font-weight: 400px;
  --md-sys-typescale-body-small-font-size: 12px;
  --md-sys-typescale-body-small-line-height: 16px;
  --md-sys-typescale-body-small-letter-spacing: 0.40px;
  /* label - large */
  --md-sys-typescale-label-large-font-family-name: "Google Sans";
  --md-sys-typescale-label-large-font-family-style: Medium;
  --md-sys-typescale-label-large-font-weight: 500px;
  --md-sys-typescale-label-large-font-size: 14px;
  --md-sys-typescale-label-large-line-height: 20px;
  --md-sys-typescale-label-large-letter-spacing: 0.10px;
  /* label - medium */
  --md-sys-typescale-label-medium-font-family-name: "Google Sans";
  --md-sys-typescale-label-medium-font-family-style: Medium;
  --md-sys-typescale-label-medium-font-weight: 500px;
  --md-sys-typescale-label-medium-font-size: 12px;
  --md-sys-typescale-label-medium-line-height: 16px;
  --md-sys-typescale-label-medium-letter-spacing: 0.50px;
  /* label - small */
  --md-sys-typescale-label-small-font-family-name: "Google Sans";
  --md-sys-typescale-label-small-font-family-style: Medium;
  --md-sys-typescale-label-small-font-weight: 500px;
  --md-sys-typescale-label-small-font-size: 11px;
  --md-sys-typescale-label-small-line-height: 16px;
  --md-sys-typescale-label-small-letter-spacing: 0.50px;
  /* title - large */
  --md-sys-typescale-title-large-font-family-name: "Google Sans";
  --md-sys-typescale-title-large-font-family-style: Regular;
  --md-sys-typescale-title-large-font-weight: 400px;
  --md-sys-typescale-title-large-font-size: 22px;
  --md-sys-typescale-title-large-line-height: 28px;
  --md-sys-typescale-title-large-letter-spacing: 0px;
  /* title - medium */
  --md-sys-typescale-title-medium-font-family-name: "Google Sans";
  --md-sys-typescale-title-medium-font-family-style: Medium;
  --md-sys-typescale-title-medium-font-weight: 500px;
  --md-sys-typescale-title-medium-font-size: 16px;
  --md-sys-typescale-title-medium-line-height: 24px;
  --md-sys-typescale-title-medium-letter-spacing: 0.15px;
  /* title - small */
  --md-sys-typescale-title-small-font-family-name: "Google Sans";
  --md-sys-typescale-title-small-font-family-style: Medium;
  --md-sys-typescale-title-small-font-weight: 500px;
  --md-sys-typescale-title-small-font-size: 14px;
  --md-sys-typescale-title-small-line-height: 20px;
  --md-sys-typescale-title-small-letter-spacing: 0.10px;
}

.display-large{
  font-family: var(--md-sys-typescale-display-large-font-family-name);
  font-style: var(--md-sys-typescale-display-large-font-family-style);
  font-weight: var(--md-sys-typescale-display-large-font-weight);
  font-size: var(--md-sys-typescale-display-large-font-size);
  letter-spacing: var(--md-sys-typescale-display-large-tracking);
  line-height: var(--md-sys-typescale-display-large-height);
  text-transform: var(--md-sys-typescale-display-large-text-transform);
  text-decoration: var(--md-sys-typescale-display-large-text-decoration);
}
.display-medium{
  font-family: var(--md-sys-typescale-display-medium-font-family-name);
  font-style: var(--md-sys-typescale-display-medium-font-family-style);
  font-weight: var(--md-sys-typescale-display-medium-font-weight);
  font-size: var(--md-sys-typescale-display-medium-font-size);
  letter-spacing: var(--md-sys-typescale-display-medium-tracking);
  line-height: var(--md-sys-typescale-display-medium-height);
  text-transform: var(--md-sys-typescale-display-medium-text-transform);
  text-decoration: var(--md-sys-typescale-display-medium-text-decoration);
}
.display-small{
  font-family: var(--md-sys-typescale-display-small-font-family-name);
  font-style: var(--md-sys-typescale-display-small-font-family-style);
  font-weight: var(--md-sys-typescale-display-small-font-weight);
  font-size: var(--md-sys-typescale-display-small-font-size);
  letter-spacing: var(--md-sys-typescale-display-small-tracking);
  line-height: var(--md-sys-typescale-display-small-height);
  text-transform: var(--md-sys-typescale-display-small-text-transform);
  text-decoration: var(--md-sys-typescale-display-small-text-decoration);
}
.headline-large{
  font-family: var(--md-sys-typescale-headline-large-font-family-name);
  font-style: var(--md-sys-typescale-headline-large-font-family-style);
  font-weight: var(--md-sys-typescale-headline-large-font-weight);
  font-size: var(--md-sys-typescale-headline-large-font-size);
  letter-spacing: var(--md-sys-typescale-headline-large-tracking);
  line-height: var(--md-sys-typescale-headline-large-height);
  text-transform: var(--md-sys-typescale-headline-large-text-transform);
  text-decoration: var(--md-sys-typescale-headline-large-text-decoration);
}
.headline-medium{
  font-family: var(--md-sys-typescale-headline-medium-font-family-name);
  font-style: var(--md-sys-typescale-headline-medium-font-family-style);
  font-weight: var(--md-sys-typescale-headline-medium-font-weight);
  font-size: var(--md-sys-typescale-headline-medium-font-size);
  letter-spacing: var(--md-sys-typescale-headline-medium-tracking);
  line-height: var(--md-sys-typescale-headline-medium-height);
  text-transform: var(--md-sys-typescale-headline-medium-text-transform);
  text-decoration: var(--md-sys-typescale-headline-medium-text-decoration);
}
.headline-small{
  font-family: var(--md-sys-typescale-headline-small-font-family-name);
  font-style: var(--md-sys-typescale-headline-small-font-family-style);
  font-weight: var(--md-sys-typescale-headline-small-font-weight);
  font-size: var(--md-sys-typescale-headline-small-font-size);
  letter-spacing: var(--md-sys-typescale-headline-small-tracking);
  line-height: var(--md-sys-typescale-headline-small-height);
  text-transform: var(--md-sys-typescale-headline-small-text-transform);
  text-decoration: var(--md-sys-typescale-headline-small-text-decoration);
}
.body-large{
  font-family: var(--md-sys-typescale-body-large-font-family-name);
  font-style: var(--md-sys-typescale-body-large-font-family-style);
  font-weight: var(--md-sys-typescale-body-large-font-weight);
  font-size: var(--md-sys-typescale-body-large-font-size);
  letter-spacing: var(--md-sys-typescale-body-large-tracking);
  line-height: var(--md-sys-typescale-body-large-height);
  text-transform: var(--md-sys-typescale-body-large-text-transform);
  text-decoration: var(--md-sys-typescale-body-large-text-decoration);
}
.body-medium{
  font-family: var(--md-sys-typescale-body-medium-font-family-name);
  font-style: var(--md-sys-typescale-body-medium-font-family-style);
  font-weight: var(--md-sys-typescale-body-medium-font-weight);
  font-size: var(--md-sys-typescale-body-medium-font-size);
  letter-spacing: var(--md-sys-typescale-body-medium-tracking);
  line-height: var(--md-sys-typescale-body-medium-height);
  text-transform: var(--md-sys-typescale-body-medium-text-transform);
  text-decoration: var(--md-sys-typescale-body-medium-text-decoration);
}
.body-small{
  font-family: var(--md-sys-typescale-body-small-font-family-name);
  font-style: var(--md-sys-typescale-body-small-font-family-style);
  font-weight: var(--md-sys-typescale-body-small-font-weight);
  font-size: var(--md-sys-typescale-body-small-font-size);
  letter-spacing: var(--md-sys-typescale-body-small-tracking);
  line-height: var(--md-sys-typescale-body-small-height);
  text-transform: var(--md-sys-typescale-body-small-text-transform);
  text-decoration: var(--md-sys-typescale-body-small-text-decoration);
}
.label-large{
  font-family: var(--md-sys-typescale-label-large-font-family-name);
  font-style: var(--md-sys-typescale-label-large-font-family-style);
  font-weight: var(--md-sys-typescale-label-large-font-weight);
  font-size: var(--md-sys-typescale-label-large-font-size);
  letter-spacing: var(--md-sys-typescale-label-large-tracking);
  line-height: var(--md-sys-typescale-label-large-height);
  text-transform: var(--md-sys-typescale-label-large-text-transform);
  text-decoration: var(--md-sys-typescale-label-large-text-decoration);
}
.label-medium{
  font-family: var(--md-sys-typescale-label-medium-font-family-name);
  font-style: var(--md-sys-typescale-label-medium-font-family-style);
  font-weight: var(--md-sys-typescale-label-medium-font-weight);
  font-size: var(--md-sys-typescale-label-medium-font-size);
  letter-spacing: var(--md-sys-typescale-label-medium-tracking);
  line-height: var(--md-sys-typescale-label-medium-height);
  text-transform: var(--md-sys-typescale-label-medium-text-transform);
  text-decoration: var(--md-sys-typescale-label-medium-text-decoration);
}
.label-small{
  font-family: var(--md-sys-typescale-label-small-font-family-name);
  font-style: var(--md-sys-typescale-label-small-font-family-style);
  font-weight: var(--md-sys-typescale-label-small-font-weight);
  font-size: var(--md-sys-typescale-label-small-font-size);
  letter-spacing: var(--md-sys-typescale-label-small-tracking);
  line-height: var(--md-sys-typescale-label-small-height);
  text-transform: var(--md-sys-typescale-label-small-text-transform);
  text-decoration: var(--md-sys-typescale-label-small-text-decoration);
}
.title-large{
  font-family: var(--md-sys-typescale-title-large-font-family-name);
  font-style: var(--md-sys-typescale-title-large-font-family-style);
  font-weight: var(--md-sys-typescale-title-large-font-weight);
  font-size: var(--md-sys-typescale-title-large-font-size);
  letter-spacing: var(--md-sys-typescale-title-large-tracking);
  line-height: var(--md-sys-typescale-title-large-height);
  text-transform: var(--md-sys-typescale-title-large-text-transform);
  text-decoration: var(--md-sys-typescale-title-large-text-decoration);
}
.title-medium{
  font-family: var(--md-sys-typescale-title-medium-font-family-name);
  font-style: var(--md-sys-typescale-title-medium-font-family-style);
  font-weight: var(--md-sys-typescale-title-medium-font-weight);
  font-size: var(--md-sys-typescale-title-medium-font-size);
  letter-spacing: var(--md-sys-typescale-title-medium-tracking);
  line-height: var(--md-sys-typescale-title-medium-height);
  text-transform: var(--md-sys-typescale-title-medium-text-transform);
  text-decoration: var(--md-sys-typescale-title-medium-text-decoration);
}
.title-small{
  font-family: var(--md-sys-typescale-title-small-font-family-name);
  font-style: var(--md-sys-typescale-title-small-font-family-style);
  font-weight: var(--md-sys-typescale-title-small-font-weight);
  font-size: var(--md-sys-typescale-title-small-font-size);
  letter-spacing: var(--md-sys-typescale-title-small-tracking);
  line-height: var(--md-sys-typescale-title-small-height);
  text-transform: var(--md-sys-typescale-title-small-text-transform);
  text-decoration: var(--md-sys-typescale-title-small-text-decoration);
}

